<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
  <h:head>
    <title>Admin</title>
  </h:head>
  <h:body>
    
    <h:outputLabel value="Hello #{loginUser.username}!"/>
    
    <h:form>
      <h:commandLink value="Add package" action="#{adminController.redirectToAddPackage}"/>
    </h:form>
    
    <table>
      <thead>
        <tr>
          <th>Book id</th>
          <th>Title</th>
          <th>Author</th>
          <th>Price</th>
          <th>Stock</th>
          <th colspan="3">Action</th>
        </tr>
      </thead>

      <tbody>

        <c:forEach items="#{adminController.allBooks}" var="book">
          <tr>
            
            <h:form>
              <td><h:outputLabel value="#{book.id}" /></td>
              <td><h:outputLabel value="#{book.title}" /></td>
              <td><h:outputLabel value="#{book.author}" /></td>
              <td><h:outputLabel value="#{book.price}" /></td>
              <td><h:outputLabel value="#{book.stock}" /></td>
              <td>
                <h:commandButton value="Update" action="#{adminController.prepareUpdate(book)}"/>
              </td>
              <td>
                <h:commandButton value="Delete" action="#{adminController.deleteBook(book.id)}"/>
              </td>
              <td>
                <h:commandButton value="Delete" action="#{adminController.deleteBook(book.id)}"/>
              </td>
            </h:form>
       
          </tr>
        </c:forEach>
      </tbody>
    </table>
    
    <br/>
    <h:form>
      <h:commandLink value="Log out" action="#{loginController.redirectToIndex()}"/>
    </h:form>
  </h:body>
</html>

