<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
  <h:head>
    <title>Book Store</title>
  </h:head>
  <h:body>

    <h:form>
      <h:outputLabel value="Hello #{loginUser.username}!"/>
      <h:commandLink value="Log out" action="#{userController.redirectToindex()}"/>
    </h:form>
    
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Price</th>
          <th>Items in cart</th>
          <th></th>
        </tr>
      </thead>

      <tbody>

        <c:forEach items="#{userController.shoppingCart}" var="sc">
          <tr>

            <h:form>
              <td><h:outputLabel value="#{userController.getBook(sc).title}" /></td>
              <td><h:outputLabel value="#{userController.getBook(sc).author}" /></td>
              <td><h:outputLabel value="#{userController.getBook(sc).price}" /></td>
              <td><h:outputLabel value="#{sc.items}" /></td>
              <td>
                <h:commandButton value="Remove from cart" action="#{userController.removeFromCart(userController.getBook(sc))}"/>
              </td>

            </h:form>

          </tr>
        </c:forEach>
      </tbody>
    </table>
    
    <h:outputText value="Total price: #{userController.totalPrice}. "/>
    <h:outputText value="Your balance: #{loginUser.moneyAmount}"/>
    
    <h:form>  
      <h:commandButton value="Buy books" action="#{userController.buyBooks()}" disabled="#{!userController.moneyEnough}"/>
      <h:outputText value="Not enough money" rendered="#{!userController.moneyEnough}"/>
    </h:form>
    
    <h:form>  
      <h:commandLink value="Back to shop" action="#{userController.redirectToUser()}"/>
    </h:form>

  </h:body>
</html>

