<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
  <h:head>
    <title>Book Shop</title>
  </h:head>
  <h:body>
    <h:outputText value="another dummy error page o_O"/>
    <h:commandButton value="Back to login page" action="#{loginController.redirectToIndex()}"/>
  </h:body>
</html>

