<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
  <h:head>
    <title>Book Store</title>
  </h:head>
  <h:body>
    <h:form>
      <h:outputLabel value="Wellcome!" /><br/>
      <h:outputLabel value="Username: " /> <h:inputText value="#{loginController.user.username}" /><br/>
      <h:outputLabel value="Password: " /> <h:inputSecret value="#{loginController.user.password}" /><br/>

      <h:commandButton action="#{loginController.checkLogin()}" value="Log in"/>
    </h:form>
    <h:form>
      <h:commandLink action="#{loginController.redirectToRegister()}" value="Register"/>
    </h:form>
  </h:body>
</html>

