<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
  <h:head>
    <title>Register</title>
  </h:head>
  <h:body>
    <h:outputText value="Wellcome! Please register"/>
    
    <h:form>
      
      <h:outputLabel value ="Username: "/>      <h:inputText value="#{loginController.user.username}"/>     <br/>
      <h:outputLabel value ="Password: "/>      <h:inputText value="#{loginController.user.password}"/>     <br/>
      <h:outputLabel value ="Mail: "/>          <h:inputText value="#{loginController.user.mail}"/>         <br/>
      <h:outputLabel value ="Money amount: "/>  <h:inputText value="#{loginController.user.moneyAmount}"/>  <br/>
      
      <h:commandButton action="#{loginController.registerUser()}" value="Register"/>

    </h:form>
    
    <h:form>
      <h:commandLink value="Back to login page" action="#{loginController.redirectToIndex()}"/>
    </h:form>
  </h:body>
</html>

