<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
  <h:head>
    <title>Admin</title>
  </h:head>
  <h:body>

    <h:form>
      <h:outputLabel value="Book id: "/>  <h:inputText value="#{adminController.book.id}" 
                                                      readonly="#{facesContext.renderResponse}"/>   <br/>
      <h:outputLabel value="Title: "/>    <h:inputText value="#{adminController.book.title}"/>      <br/>
      <h:outputLabel value="Author: "/>   <h:inputText value="#{adminController.book.author}"/>     <br/>
      <h:outputLabel value="Price: "/>    <h:inputText value="#{adminController.book.price}"/>      <br/>
      <h:outputLabel value="Stock: "/>    <h:inputText value="#{adminController.book.stock}"/>      <br/>
      <h:commandButton value="Update book" action="#{adminController.updateBook()}"/>
    </h:form>

  </h:body>
</html>

