<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
  <h:head>
    <title>Book Store</title>
  </h:head>
  <h:body>
    
    <h:form>
      <h:outputLabel value="Hello #{loginUser.username}!"/>
      <h:commandLink value="Log out" action="#{userController.redirectToindex()}"/>
    </h:form>
    
    <table>
      <thead>
        <tr>
          <th>Book id</th>
          <th>Title</th>
          <th>Author</th>
          <th>Price</th>
          <th>Stock</th>
          <th/>
          <th/>
        </tr>
      </thead>

      <tbody>

        <c:forEach items="#{userController.allBooks}" var="book">
          <tr>
            
            <h:form>
              <td><h:outputLabel value="#{book.id}" /></td>
              <td><h:outputLabel value="#{book.title}" /></td>
              <td><h:outputLabel value="#{book.author}" /></td>
              <td><h:outputLabel value="#{book.price}" /></td>
              <td><h:outputLabel value="#{book.stock}" /></td>
              <td>
                <h:commandButton value="add to cart" action="#{userController.addToCart(book)}" disabled="#{!userController.isOnStock(book)}"/>
              </td>
              <td><h:outputText value="Not on stock" rendered="#{!userController.isOnStock(book)}"/></td>
             
            </h:form>
       
          </tr>
        </c:forEach>
      </tbody>
    </table>
    
    <h:form>
      <h:commandLink value="Checkout" action="#{userController.redirectToCheckout()}"/> <br/>
    </h:form>
    
  </h:body>
</html>

