<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
  <h:head>
    <title>Add package</title>
  </h:head>
  <h:body>

    <h:form>
      <h:outputLabel value="Title: "/>    <h:inputText value="#{userController.pack.title}"/> <br/>

      <h:commandButton value="Add package" action="#{userController.addPackage}"/>
    </h:form>

    <h:form>
      <h:commandLink value="Back" action="#{userController.redirectToUser()}"/>
    </h:form>

  </h:body>
</html>

