<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
  <h:head>
    <title>Facelet Title</title>
  </h:head>
  <h:body>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>City</th>
        </tr>
      </thead>

      <tbody>
        <c:forEach items="#{userController.packageHistory}" var="history">
          <tr>
            <h:form>
              <td><h:outputLabel value="#{history.hour}" /></td>
              <td><h:outputLabel value="#{userController.getCityName(history.cityId)}" /></td>
            </h:form>
          </tr>
        </c:forEach>
      </tbody>
    </table>

    <br/>
    <h:form>
      <h:commandLink value="Back" action="#{userController.redirectToUser}"/>
    </h:form>
  </h:body>
</html>

