<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
  <h:head>
    <title>Register</title>
  </h:head>
  <h:body>
    <h:outputText value="Wellcome! Please register"/>

    <h:form>
      <h:outputLabel value ="Username: "/>      <h:inputText value="#{loginController.newUser.username}"/>     <br/>
      <h:outputLabel value ="Password: "/>      <h:inputSecret value="#{loginController.newUser.password}"/>   <br/>
      <h:outputLabel value ="Full name: "/>     <h:inputText value="#{loginController.newUser.fullName}"/>     <br/>
      <h:outputLabel value ="Address: "/>       <h:inputText value="#{loginController.newUser.address}"/>      <br/>
      <h:outputLabel value ="City: "/>
      <h:selectOneMenu value="#{loginController.newUser.cityId}">
        <f:selectItems value="#{loginController.allCities}" var="city" itemLabel="#{city.name}" itemValue="#{city.cityId}" />
      </h:selectOneMenu> <br/>

      <h:commandButton action="#{loginController.registerUser()}" value="Register"/>
    </h:form>

    <h:form>
      <h:commandLink value="Back to login page" action="#{loginController.redirectToIndex()}"/>
    </h:form>
  </h:body>
</html>

