<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
  <h:head>
    <title>Sys user</title>
  </h:head>
  <h:body>
    
    <h:outputLabel value="Hello #{loginUser.username}!"/>
    

    
    <table>
      <thead>
        <tr>
          <th>PackageId</th>
          <th>Title</th>
          <th>Status</th>
          <th>UserId</th>
          <th>TrackFlag</th>
          <th colspan="3">Action</th>
        </tr>
      </thead>

      <tbody>

        <c:forEach items="#{adminController.allPackages}" var="pack">
          <tr>
            
            <h:form>
              <td><h:outputLabel value="#{pack.packageId}" /></td>
              <td><h:outputLabel value="#{pack.title}" /></td>
              <td><h:outputLabel value="#{pack.status}" /></td>
              <td><h:outputLabel value="#{pack.userId}" /></td>
              <td><h:outputLabel value="#{pack.trackFlag}" /></td>
              <td>
                <h:commandButton value="Update" action="#{adminController.prepareUpdate(pack)}"/>
              </td>
              <td>
                <h:commandButton value="Delete" action="#{adminController.removePackage(pack.packageId)}"/>
              </td>
              <td>
                <h:commandButton value="Register for tracking" action="#{adminController.registerForTracking(pack.packageId)}" disabled="#{pack.trackFlag}"/>
              </td>
            </h:form>
       
            
          </tr>
        </c:forEach>
      </tbody>
    </table>
    
    <br/>
    <h:form>
      <h:commandLink value="Log out" action="#{adminController.redirectToIndex}"/>
    </h:form>
    
  </h:body>
</html>

