<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
  <h:head>
    <title>Update page</title>
  </h:head>
  <h:body>

    <h:outputLabel value="Package id: #{adminController.pack.packageId}" /> <br/>

    <h:form> 
      <h:outputLabel value="Package status: " />
      <h:selectOneMenu value="#{status}">
        <f:selectItem itemValue="in deposit" itemLabel="in deposit" />
        <f:selectItem itemValue="on route" itemLabel="on route" />
        <f:selectItem itemValue="delivered" itemLabel="delivered" />
      </h:selectOneMenu> <br/>

      <h:commandButton value="Update package status" action="#{adminController.updatePackageStatus(status)}"/>
    </h:form>

    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>City</th>
        </tr>
      </thead>

      <tbody>
        <c:forEach items="#{adminController.packageHistory}" var="history">
          <tr>
            <h:form>
              <td><h:outputLabel value="#{history.hour}" /></td>
              <td><h:outputLabel value="#{adminController.getCityName(history.cityId)}" /></td>
            </h:form>
          </tr>
        </c:forEach>
      </tbody>
    </table>

    <h:form>
      <h:outputLabel value="City" />
      <h:selectOneMenu value="#{newCityId}">
        <f:selectItems value="#{adminController.allCities}" var="city" itemLabel="#{city.name}" itemValue="#{city.cityId}" />
      </h:selectOneMenu> <br/>

      <h:commandButton action="#{adminController.addToHistory(newCityId)}" value="Add location"/>
    </h:form>

    <h:form>
      <h:commandLink value="Back" action="#{adminController.redirectToAdmin}"/>
    </h:form>

  </h:body>
</html>

