<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
  <h:head>
    <title>User page</title>
  </h:head>
  <h:body>

    <h:outputLabel value="Hello #{loginUser.username}!"/>

        <h:form>
      <h:commandLink value="Add package" action="#{adminController.redirectToAddPackage}"/>
    </h:form>
    
    <table>
      <thead>
        <tr>
          <th>PackageId</th>
          <th>Title</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <c:forEach items="#{userController.myPackages}" var="pack">
          <tr>
            <h:form>
              <td><h:outputLabel value="#{pack.packageId}" /></td>
              <td><h:outputLabel value="#{pack.title}" /></td>
              <td><h:outputLabel value="#{pack.status}" /></td>
              <td>
                <h:commandButton value="Show history" action="#{userController.getHistoryForPackage(pack.packageId)}" />
              </td>
            </h:form>
          </tr>
        </c:forEach>
      </tbody>
    </table>

    <br/>
    <h:form>
      <h:commandLink value="Log out" action="#{userController.redirectToIndex}"/>
    </h:form>

  </h:body>
</html>

