<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

  <h:head>
    <title>Admin</title>
    
    <!-- Prevent unauthorized access to admin page -->
    <c:if test="#{loginUser.type != 0}" >                
      <meta http-equiv="refresh" content="1;error.xhtml"/> 
    </c:if>        
        
  </h:head>
    
  <h:body>
    <h:outputLabel value="Hello #{loginUser.name}!"/>
    
    <br/>
    
    <a href="addUser.xhtml">Add user</a>
        
    <table>
      <thead>
        <tr>
          <th>User id</th>
          <th>Username</th>
          <th>Password</th>
          <th>Type</th>
          <th>Name</th>
          <th>Surname</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th colspan="2">Action</th>
        </tr>
      </thead>
      
      <tbody>
        <c:forEach items="#{allUsers}" var="user">
          <tr>
          <h:form>
            <td><h:outputLabel value="#{user.userId}" /></td>
            <td><h:outputLabel value="#{user.username}" /></td>
            <td><h:outputLabel value="#{user.password}" /></td>
            <td><h:outputLabel value="#{user.type}" /></td>
            <td><h:outputLabel value="#{user.name}" /></td>
            <td><h:outputLabel value="#{user.surname}" /></td>
            <td><h:outputLabel value="#{user.latitude}" /></td>
            <td><h:outputLabel value="#{user.longitude}" /></td>
            <td>
            	<h:commandButton value="Update" action="#{adminBean.prepareUpdate}">
            		<f:param name="userID" value="#{user.userId}" />
            	</h:commandButton>
            	
            </td>
            <td>
            	<h:commandButton value="Delete" action="#{adminBean.delete}">
            		<f:param name="userID" value="#{user.userId}" />
            	</h:commandButton>
            </td>
            </h:form>
             
          </tr>
        </c:forEach>
      </tbody>
    </table>

  </h:body>

</html>