<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
  
  <h:head>
    <title>DS_Assignment1</title>     
  </h:head>
    <h:body>
      
      <h:form>
        <h:outputLabel value="Username: "/><h:inputText value="#{loginBean.user.username}"/>
        <br></br>
        <h:outputLabel value="Password: "/><h:inputText value="#{loginBean.user.password}"/>
        <br></br>
        <h:commandButton value="Login" action="#{loginBean.login}"/>  
      </h:form>
      
    </h:body>

</html>
