<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

  <h:head>
    <title>Admin</title>
    
    <c:if test="#{loginUser.type != 0}" >                
    	<meta http-equiv="refresh" content="1;error.xhtml"/> 
    </c:if>        
        
  </h:head>
    
  <h:body>
    
    <h:form>
      <h:outputLabel value="User id: "/> <h:inputText value="#{adminBean.user.userId}" readonly="#{facesContext.renderResponse}"/>  
      <br/>
      <h:outputLabel value="Username: "/><h:inputText value="#{adminBean.user.username}"/>
      <br></br>
      <h:outputLabel value="Password: "/><h:inputText value="#{adminBean.user.password}"/>
      <br></br>
      <h:outputLabel value="Type: "/><h:inputText value="#{adminBean.user.type}"/>
      <br></br>
      <h:outputLabel value="Name: "/><h:inputText value="#{adminBean.user.name}"/>
      <br></br>
      <h:outputLabel value="Surname: "/><h:inputText value="#{adminBean.user.surname}"/>
      <br></br>
      <h:outputLabel value="Latitude: "/><h:inputText value="#{adminBean.user.latitude}"/>
      <br></br>
      <h:outputLabel value="Longitude: "/><h:inputText value="#{adminBean.user.longitude}"/>
      <br></br>
      <h:commandButton value="Update user" action="#{adminBean.update}"/>
    </h:form>

  </h:body>

</html>