<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

  <h:head>
    <title>User page</title>
    </h:head>
    <h:body>
      <h:outputLabel value="Hello #{loginUser.name} #{loginUser.surname}!"/>
      <br></br>
      <h:outputLabel value="Your timezone is: #{loginUser.timezone}"/>
    </h:body>
</html>